.twitter-box {
  background: url(../img/twitter-box.png);
  height: 211px;
  position: relative;
  width: 530px;
}

#myCounter {
  bottom: 15px;
  color: #999;
  position: absolute;
  right: 95px;
  text-align: center;
}

#myTextarea {
  height: 75px;
  left: 20px;
  position: absolute;
  top: 60px;
  width: 475px;
}